@media (prefers-color-scheme: dark) {
    body {
        color: #ffffff;
        background-color: #1e1e1e;
    }

    .bg-white {
        background-color: #1e1e1e !important;
    }

    .scroll-item {
        color: #1e1e1e;
    }

    .scroll-item h6 {
        color: #1e1e1e;
    }
}
