.slider-container {
    overflow: hidden;
    overflow-x: auto;
    width: 100%;
    max-width: 1300px;
    /* Adjust the container width */
    margin: auto;
    position: relative;
    /* Sembunyikan scrollbar untuk Firefox */
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.slider-container::-webkit-scrollbar {
    display: none;
    width: 0;
    height: 0;
}

.slider {
    display: flex;
    transition: transform 0.3s ease-in-out;
    width: max-content;
}

.card-menu1,
.card-menu2,
.card-menu3,
.card-menu4,
.card-menu5 {
    flex-shrink: 0;
}

.card-menu1 {
    width: 121px;
    height: 122px;
    background-color: #5856d6;
    border-radius: 5px;
    box-shadow: 0 0px 2px rgba(0, 0, 0, 0.2);
    margin-left: 26px;
}

.card-menu1 svg {
    margin-left: 38px;
    margin-top: 26px;
}

.menu-text1 {
    text-align: center;
    font-size: 12px;
    color: #ffff;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
        Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.card-menu2 {
    width: 121px;
    height: 122px;
    background-color: #00c7be;
    border-radius: 5px;
    box-shadow: 0 0px 2px rgba(0, 0, 0, 0.2);
    margin-left: 26px;
}

.card-menu2 svg {
    margin-left: 40px;
    margin-top: 27px;
}

.menu-text2 {
    text-align: center;
    font-size: 12px;
    color: #ffff;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
        Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    margin-top: 10px;
}

.card-menu3 {
    width: 121px;
    height: 122px;
    background-color: #32ade6;
    border-radius: 5px;
    box-shadow: 0 0px 2px rgba(0, 0, 0, 0.2);
    margin-left: 26px;
}

.card-menu3 svg {
    margin-left: 40px;
    margin-top: 27px;
}

.menu-text3 {
    text-align: center;
    font-size: 12px;
    color: #ffff;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
        Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    margin-top: 10px;
}

.card-menu4 {
    width: 121px;
    height: 122px;
    background-color: #ff2d55;
    border-radius: 5px;
    box-shadow: 0 0px 2px rgba(0, 0, 0, 0.2);
    margin-left: 26px;
}

.card-menu4 svg {
    margin-left: 40px;
    margin-top: 27px;
}

.menu-text4 {
    text-align: center;
    font-size: 12px;
    color: #ffff;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
        Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    margin-top: 17px;
}

.card-menu5 {
    width: 121px;
    height: 122px;
    background-color: #ffcc00;
    border-radius: 5px;
    box-shadow: 0 0px 2px rgba(0, 0, 0, 0.2);
    margin-left: 26px;
}

.card-menu5 svg {
    margin-left: 40px;
    margin-top: 28px;
}

.menu-text5 {
    text-align: center;
    font-size: 12px;
    color: #ffff;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
        Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    margin-top: 11px;
}

.card-menu6 {
    width: 121px;
    height: 122px;
    background-color: #30b0c7;
    border-radius: 5px;
    box-shadow: 0 0px 2px rgba(0, 0, 0, 0.2);
    margin-left: 26px;
}

.card-menu6 svg {
    margin-left: 40px;
    margin-top: 27px;
}

.menu-text6 {
    text-align: center;
    font-size: 12px;
    color: #ffff;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
        Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    margin-top: 9px;
}

.card-menu7 {
    width: 121px;
    height: 122px;
    background-color: #ff3b30;
    border-radius: 5px;
    box-shadow: 0 0px 2px rgba(0, 0, 0, 0.2);
    margin-left: 26px;
}

.card-menu7 svg {
    margin-left: 35px;
    margin-top: 25px;
}

.menu-text7 {
    text-align: center;
    font-size: 12px;
    color: #ffff;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
        Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    margin-top: 4px;
}

.card-menu8 {
    width: 121px;
    height: 122px;
    background-color: #ff9500;
    border-radius: 5px;
    box-shadow: 0 0px 2px rgba(0, 0, 0, 0.2);
    margin-left: 26px;
}

.card-menu8 svg {
    margin-left: 40px;
    margin-top: 30px;
}

.menu-text8 {
    text-align: center;
    font-size: 12px;
    color: #ffff;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
        Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    margin-top: 16px;
}

.card-menu9 {
    width: 121px;
    height: 122px;
    background-color: #50192f;
    border-radius: 5px;
    box-shadow: 0 0px 2px rgba(0, 0, 0, 0.2);
    margin-left: 26px;
}

.card-menu9 svg {
    margin-left: 45px;
    margin-top: 28px;
}

.menu-text9 {
    text-align: center;
    font-size: 12px;
    color: #ffff;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
        Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    margin-top: 18px;
}

.fitur-clocker {
    margin: 110px;
}

.row-fitur {
    display: flex;
    justify-content: center;
    align-items: center;
}

.fitur-text {
    width: 591px;
    text-align: center !important;
    margin: 0 auto;
}

.fitur-text h4 {
    font-family: roboto;
    color: #00aaff;
    font-size: 28px;
}

.fitur-text h2 {
    font-family: roboto;
    font-size: 36px;
    font-weight: bold;
}

.fitur-item {
    margin-top: 60px;
    margin-left: 23px;
}

.card-fitur-item {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 250px;
    text-align: left;
    /* Align text to the left */
    margin: 15px;
    transition: transform 0.3s ease;
}

.card-fitur-item1 {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 250px;
    text-align: left;
    margin: 15px;
    transition: transform 0.3s ease;
    height: 200px;
}

.card-fitur-item1 p {
    font-size: 14px;
    color: #666;
    line-height: 1.5;
    margin-bottom: 0;
    font-style: italic;
}

.card-fitur-item1 h5 {
    font-size: 18px;
    font-weight: 600;
    color: #333;
    margin-bottom: 5px;
}
.card-fitur-item2 {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 250px;
    text-align: left;
    margin: 15px;
    transition: transform 0.3s ease;
    height: 200px;
}

.card-fitur-item2 p {
    font-size: 14px;
    color: #666;
    line-height: 1.5;
    margin-bottom: 0;
    font-style: italic;
}

.card-fitur-item2 h5 {
    font-size: 18px;
    font-weight: 600;
    color: #333;
    margin-bottom: 5px;
}

.card-fitur-item:hover {
    transform: translateY(-10px);
}
.card-fitur-item1:hover {
    transform: translateY(-10px);
}
.card-fitur-item2:hover {
    transform: translateY(-10px);
}
.main-fitur {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    /* Align content to the left */
    justify-content: center;
}

.card-fitur-item svg {
    margin-bottom: 5px;
}

.card-fitur-item h5 {
    font-size: 18px;
    font-weight: 600;
    color: #333;
    margin-bottom: 5px;
}

.card-fitur-item p {
    font-size: 14px;
    color: #666;
    line-height: 1.5;
    margin-bottom: 0;
    font-style: italic;
}

.svg-container {
    position: absolute;
    top: 850px;
    left: 0;
    width: 100%;
    z-index: -1;
    overflow: hidden;
}

.svg-container svg {
    width: 450px;
    height: auto;
}

.svg-container1 {
    position: absolute;
    top: 1060px;
    right: 0;
    width: auto;
    z-index: -3;
    overflow: hidden;
}

.svg-container1 svg {
    width: 1200px;
    height: auto;
}

.category-section {
    width: 100%;
    background-color: #e0f4ff;
    padding: 40px 0;
    box-sizing: border-box;
}

.category-container {
    max-width: 1300px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin-left: 220px;
    position: relative;
}

.logo-category {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
}

.logo-category p {
    margin-top: 5px;
    margin-left: 5px;
    font-family: "Roboto";
    font-size: 18px;
    /* Increase font size slightly */
    font-weight: 500;
    color: #00aaff;
}

.text-category {
    position: absolute;
    top: 45px;
    left: 0;
    display: flex;
}

.text-category h2 {
    font-weight: bold;
    font-family: "Roboto";
    font-size: 32px;
    /* Increased font size */
    color: #333;
}

.text-category2 {
    margin-top: 100px;
    max-width: 650px;
}

.text-category2 p {
    font-family: "Roboto";
    font-size: 20px;
    /* Increased font size */
    color: #000000;
    line-height: 1.6;
    margin: 0;
}

/* Style for the button */
.btn-try {
    margin-top: 25px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 8px 10px;
    background: linear-gradient(to right, #21bee8 0%, #00aaff 100%);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: "Roboto", sans-serif;
    transition: transform 0.2s ease;
    margin-left: 220px;
}

.btn-try p {
    margin: 0;
    font-size: 12px;
    font-weight: bold;
    color: white;
}

.btn-try:hover {
    transform: translateY(-3px);
}

.btn-try:focus {
    outline: none;
    box-shadow: 0 0 0 2px #00aaff;
}

.img-category-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    margin-left: 6.6rem;
}

.img-category-wrapper h3 {
    margin-top: 15px;
    font-size: 1.5rem;
    font-weight: bold;
    color: #1f1f1f;
    transition: color 0.3s, transform 0.3s;
}

.img-category-wrapper:hover h3 {
    color: #2b2b2b;
    transform: scale(1.1);
}

.img-category {
    width: 340px;
    height: 240px;
    overflow: hidden;
    border-radius: 15px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
    margin: 0 auto 15px;
}

.img-category img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s;
}

.img-category:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}

.img-category:hover img {
    transform: scale(1.1);
}

.img-category-wrapper1 {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

.img-category-wrapper1 h3 {
    margin-top: 15px;
    font-size: 1.5rem;
    font-weight: bold;
    color: #1f1f1f;
    transition: color 0.3s, transform 0.3s;
}

.img-category-wrapper1:hover h3 {
    color: #2b2b2b;
    transform: scale(1.1);
}
.img-category1 {
    width: 340px;
    height: 240px;
    overflow: hidden;
    border-radius: 15px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
    margin: 0 auto 15px;
}

.img-category1 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s;
}

.img-category1:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}

.img-category1:hover img {
    transform: scale(1.1);
}

.row-category {
    display: flex;
}

.row-category1 {
    margin-top: 20px;
    margin-left: 210px;
    margin-right: auto;
    padding-left: 10px; /* Kurangi padding agar lebih mepet */
    padding-right: 10px; /* Kurangi padding agar lebih mepet */
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 38px; /* Kurangi gap antar elemen */
    width: 100%;
    max-width: 900px; /* Sesuaikan lebar maksimal */
}



.card-about-item {
    text-align: left;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding-bottom: 25px;
    transition: transform 0.3s ease;
}


.card-about-item:hover {
    transform: translateY(-10px);
}

.card-about-item h5 {
    font-size: 16px;
    font-weight: 600;
    color: #333;
    margin-bottom: 5px;
    margin-top: 10px;
    font-weight: 700;
}

.line-about{
    height: 250px;
    margin-top:-20px;
    z-index:-1;
    background-color:#fff;
}

.bg-line9 {
    background: url(../images/line9.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: center;
}

.card-about-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
    width: 100%;
    max-width: 100%;
}

.card-about-item {
    text-align: left;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding-bottom: 25px;
    transition: transform 0.3s ease;
}


.card-about-item:hover {
    transform: translateY(-10px);
}

.card-about-item h5 {
    font-size: 16px;
    font-weight: 600;
    color: #333;
    margin-bottom: 5px;
    margin-top: 10px;
    font-weight: 700;
}

.line-about{
    height: 250px;
    margin-top:-20px;
    z-index:-1;
    background-color:#fff;
}

.bg-line9{
    background: url(../images/line9.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: center;
}

.svg-container2 {
    position: absolute;
    top: 1400px;
    right: 0;
    width: auto;
    z-index: -3;
    overflow: hidden;
}

.svg-container2 svg {
    width: 1520px;
    height: auto;
}

.description {
    margin-top: -30px;
    margin-left: -10px;
    font-size: 0.90rem;
    max-width: 300px;
    word-wrap: break-word;
    overflow-wrap: break-word;
}
