.slider-container {
    overflow: hidden;
    overflow-x: auto;
    width: 100%;
    max-width: 1198px;
    /* Adjust the container width */
    margin: auto;
    position: relative;
    /* Sembunyikan scrollbar untuk Firefox */
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.slider-container::-webkit-scrollbar {
    display: none;
    width: 0;
    height: 0;
}

.slider {
    display: flex;
    transition: transform 0.3s ease-in-out;
    width: max-content;
}

.card-menu1,
.card-menu2,
.card-menu3,
.card-menu4,
.card-menu5 {
    flex-shrink: 0;
}

.card-menu1 {
    width: 121px;
    height: 122px;
    background-color: #5856d6;
    border-radius: 5px;
    box-shadow: 0 0px 2px rgba(0, 0, 0, 0.2);
    margin-left: 26px;
}

.card-menu1 svg {
    margin-left: 38px;
    margin-top: 26px;
}

.menu-text1 {
    text-align: center;
    font-size: 12px;
    color: #ffff;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
        Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.card-menu2 {
    width: 121px;
    height: 122px;
    background-color: #00c7be;
    border-radius: 5px;
    box-shadow: 0 0px 2px rgba(0, 0, 0, 0.2);
    margin-left: 26px;
}

.card-menu2 svg {
    margin-left: 40px;
    margin-top: 27px;
}

.menu-text2 {
    text-align: center;
    font-size: 12px;
    color: #ffff;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
        Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    margin-top: 10px;
}

.card-menu3 {
    width: 121px;
    height: 122px;
    background-color: #32ade6;
    border-radius: 5px;
    box-shadow: 0 0px 2px rgba(0, 0, 0, 0.2);
    margin-left: 26px;
}

.card-menu3 svg {
    margin-left: 40px;
    margin-top: 27px;
}

.menu-text3 {
    text-align: center;
    font-size: 12px;
    color: #ffff;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
        Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    margin-top: 10px;
}

.card-menu4 {
    width: 121px;
    height: 122px;
    background-color: #ff2d55;
    border-radius: 5px;
    box-shadow: 0 0px 2px rgba(0, 0, 0, 0.2);
    margin-left: 26px;
}

.card-menu4 svg {
    margin-left: 40px;
    margin-top: 27px;
}

.menu-text4 {
    text-align: center;
    font-size: 12px;
    color: #ffff;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
        Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    margin-top: 17px;
}

.card-menu5 {
    width: 121px;
    height: 122px;
    background-color: #ffcc00;
    border-radius: 5px;
    box-shadow: 0 0px 2px rgba(0, 0, 0, 0.2);
    margin-left: 26px;
}

.card-menu5 svg {
    margin-left: 40px;
    margin-top: 28px;
}

.menu-text5 {
    text-align: center;
    font-size: 12px;
    color: #ffff;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
        Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    margin-top: 11px;
}

.card-menu6 {
    width: 121px;
    height: 122px;
    background-color: #30b0c7;
    border-radius: 5px;
    box-shadow: 0 0px 2px rgba(0, 0, 0, 0.2);
    margin-left: 26px;
}

.card-menu6 svg {
    margin-left: 40px;
    margin-top: 27px;
}

.menu-text6 {
    text-align: center;
    font-size: 12px;
    color: #ffff;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
        Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    margin-top: 9px;
}

.card-menu7 {
    width: 121px;
    height: 122px;
    background-color: #ff3b30;
    border-radius: 5px;
    box-shadow: 0 0px 2px rgba(0, 0, 0, 0.2);
    margin-left: 26px;
}

.card-menu7 svg {
    margin-left: 35px;
    margin-top: 25px;
}

.menu-text7 {
    text-align: center;
    font-size: 12px;
    color: #ffff;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
        Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    margin-top: 4px;
}

.card-menu8 {
    width: 121px;
    height: 122px;
    background-color: #ff9500;
    border-radius: 5px;
    box-shadow: 0 0px 2px rgba(0, 0, 0, 0.2);
    margin-left: 26px;
}

.card-menu8 svg {
    margin-left: 40px;
    margin-top: 30px;
}

.menu-text8 {
    text-align: center;
    font-size: 12px;
    color: #ffff;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
        Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    margin-top: 16px;
}

.card-menu9 {
    width: 121px;
    height: 122px;
    background-color: #50192f;
    border-radius: 5px;
    box-shadow: 0 0px 2px rgba(0, 0, 0, 0.2);
    margin-left: 26px;
}

.card-menu9 svg {
    margin-left: 45px;
    margin-top: 28px;
}

.menu-text9 {
    text-align: center;
    font-size: 12px;
    color: #ffff;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
        Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    margin-top: 18px;
}

.fitur-clocker {
    margin: 110px;
}

.row-fitur {
    display: flex;
    justify-content: center;
    align-items: center;
}

.fitur-text {
    width: 591px;
    text-align: center !important;
    margin: 0 auto;
}

.fitur-text h4 {
    font-family: roboto;
    color: #00aaff;
    font-size: 28px;
}

.fitur-text h2 {
    font-family: roboto;
    font-size: 36px;
    font-weight: bold;
}

.fitur-item {
    margin-top: 60px;
    margin-left: 23px;
}

.card-fitur-item {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 250px;
    text-align: left;
    /* Align text to the left */
    margin: 15px;
    transition: transform 0.3s ease;
}

.card-fitur-item1 {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 250px;
    text-align: left;
    margin: 15px;
    transition: transform 0.3s ease;
    height: 200px;
}

.card-fitur-item1 p {
    font-size: 14px;
    color: #666;
    line-height: 1.5;
    margin-bottom: 0;
    font-style: italic;
}

.card-fitur-item1 h5 {
    font-size: 18px;
    font-weight: 600;
    color: #333;
    margin-bottom: 5px;
}
.card-fitur-item2 {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 250px;
    text-align: left;
    margin: 15px;
    transition: transform 0.3s ease;
    height: 200px;
}

.card-fitur-item2 p {
    font-size: 14px;
    color: #666;
    line-height: 1.5;
    margin-bottom: 0;
    font-style: italic;
}

.card-fitur-item2 h5 {
    font-size: 18px;
    font-weight: 600;
    color: #333;
    margin-bottom: 5px;
}

.card-fitur-item3 {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 295px;
    text-align: left;
    margin: 15px;
    transition: transform 0.3s ease;
    height: 200px;
}

.card-fitur-item3 p {
    font-size: 14px;
    color: #666;
    line-height: 1.5;
    margin-bottom: 0;
    font-style: italic;
}

.card-fitur-item3 h5 {
    font-size: 18px;
    font-weight: 600;
    color: #333;
    margin-bottom: 5px;
}


.card-fitur-item:hover {
    transform: translateY(-10px);
}
.card-fitur-item1:hover {
    transform: translateY(-10px);
}
.card-fitur-item2:hover {
    transform: translateY(-10px);
}
.card-fitur-item3:hover {
    transform: translateY(-10px);
}
.main-fitur {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    /* Align content to the left */
    justify-content: center;
}

.card-fitur-item svg {
    margin-bottom: 5px;
}

.card-fitur-item h5 {
    font-size: 18px;
    font-weight: 600;
    color: #333;
    margin-bottom: 5px;
}

.card-fitur-item p {
    font-size: 14px;
    color: #666;
    line-height: 1.5;
    margin-bottom: 0;
    font-style: italic;
}

.svg-container {
    position: absolute;
    top: 850px;
    left: 0;
    width: 100%;
    z-index: -1;
    overflow: hidden;
}

.svg-container svg {
    width: 450px;
    height: auto;
}

.svg-container1 {
    position: absolute;
    top: 1060px;
    right: 0;
    width: auto;
    z-index: -3;
    overflow: hidden;
}

.svg-container1 svg {
    width: 1200px;
    height: auto;
}

.category-section {
    width: 100%;
    background-color: #e0f4ff;
    padding: 40px 0;
    box-sizing: border-box;
}

.category-container {
    max-width: 1300px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin-left: 220px;
    position: relative;
}

.logo-category {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
}

.logo-category p {
    margin-top: 5px;
    margin-left: 5px;
    font-family: "Roboto";
    font-size: 18px;
    /* Increase font size slightly */
    font-weight: 500;
    color: #00aaff;
}

.text-category {
    position: absolute;
    top: 45px;
    left: 0;
    display: flex;
}

.text-category h2 {
    font-weight: bold;
    font-family: "Roboto";
    font-size: 32px;
    /* Increased font size */
    color: #333;
}

.text-category2 {
    margin-top: 100px;
    max-width: 650px;
}

.text-category2 p {
    font-family: "Roboto";
    font-size: 20px;
    /* Increased font size */
    color: #000000;
    line-height: 1.6;
    margin: 0;
}

/* Style for the button */
.btn-try {
    margin-top: 25px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 8px 10px;
    background: linear-gradient(to right, #21bee8 0%, #00aaff 100%);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: "Roboto", sans-serif;
    transition: transform 0.2s ease;
    margin-left: 220px;
}

.btn-try p {
    margin: 0;
    font-size: 12px;
    font-weight: bold;
    color: white;
}

.btn-try:hover {
    transform: translateY(-3px);
}

.btn-try:focus {
    outline: none;
    box-shadow: 0 0 0 2px #00aaff;
}

.img-category-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    margin-left: 6.6rem;
}

.img-category-wrapper h3 {
    margin-top: 15px;
    font-size: 1.5rem;
    font-weight: bold;
    color: #1f1f1f;
    transition: color 0.3s, transform 0.3s;
}

.img-category-wrapper:hover h3 {
    color: #2b2b2b;
    transform: scale(1.1);
}

.img-category {
    width: 340px;
    height: 240px;
    overflow: hidden;
    border-radius: 15px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
    margin: 0 auto 15px;
}

.img-category img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s;
}

.img-category:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}

.img-category:hover img {
    transform: scale(1.1);
}

.img-category-wrapper1 {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

.img-category-wrapper1 h3 {
    margin-top: 15px;
    font-size: 1.5rem;
    font-weight: bold;
    color: #1f1f1f;
    transition: color 0.3s, transform 0.3s;
}

.img-category-wrapper1:hover h3 {
    color: #2b2b2b;
    transform: scale(1.1);
}
.img-category1 {
    width: 340px;
    height: 240px;
    overflow: hidden;
    border-radius: 15px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
    margin: 0 auto 15px;
}

.img-category1 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s;
}

.img-category1:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}

.img-category1:hover img {
    transform: scale(1.1);
}

.row-category {
    display: flex;
}

.row-category1 {
    margin-top: 20px;
    margin-left: 210px;
    margin-right: auto;
    padding-left: 10px; /* Kurangi padding agar lebih mepet */
    padding-right: 10px; /* Kurangi padding agar lebih mepet */
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 38px; /* Kurangi gap antar elemen */
    width: 100%;
    max-width: 900px; /* Sesuaikan lebar maksimal */
}



.card-about-item {
    text-align: left;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding-bottom: 25px;
    transition: transform 0.3s ease;
}

.card-about-item:hover {
    transform: translateY(-10px);
}

.card-about-item h5 {
    font-size: 16px;
    color: #333;
    margin-bottom: 5px;
    margin-top: 10px;
    font-weight: 700;
}

.line-about{
    height: 250px;
    z-index:-1;
    background-color:#fff;
}

.bg-line9 {
    background: url(../images/line9.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: center;
}

.card-about-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
    width: 100%;
    max-width: 100%;
    position: absolute;
    margin-top: -20px;
}

.card-about-item {
    text-align: left;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding-bottom: 25px;
    transition: transform 0.3s ease;
}


.card-about-item:hover {
    transform: translateY(-10px);
}

.card-about-item h5 {
    font-size: 16px;
    color: #000000;
    margin-bottom: 5px;
    margin-top: 10px;
    font-weight: 700;
}

.line-about{
    height: 250px;
    z-index:-1;
    background-color:#fff;
}

.bg-line9{
    background: url(../images/line9.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: -183px;
    z-index: -5;
}

.svg-container2 {
    position: absolute;
    top: 1400px;
    right: 0;
    width: auto;
    z-index: -3;
    overflow: hidden;
}

.svg-container2 svg {
    width: 1520px;
    height: auto;
}

.svg-container3 {
    position: absolute;
    top: 145rem;
    right: 0;
    width: auto;
    z-index: -3;
    overflow: hidden;
}

.svg-container3 svg {
    width: 1520px;
    height: auto;
}

.svg-container4 {
    position: absolute;
    top: 137rem;
    right: 0;
    width: auto;
    z-index: -3;
    overflow: hidden;
}

.svg-container4 svg {
    width: 1520px;
    height: auto;
}

.description {
    margin-top: -30px;
    margin-left: -10px;
    font-size: 0.90rem;
    max-width: 300px;
    word-wrap: break-word;
    overflow-wrap: break-word;
}

.list p{
    font-size: 19px;
    line-height: 1.5;
    margin-bottom: 0;
    font-style: Roboto;
    margin-top: 4px;
    margin-left: 4px;
}

.bg-line1{
    background: url(../images/line1.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: center;

}

.bg-15{
    background: url(../images/Group15.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
}

@keyframes float {
    0% {
        transform: translateY(0); /* Posisi awal (di tempat) */
    }
    50% {
        transform: translateY(-10px); /* Naik 15px */
    }
    100% {
        transform: translateY(0); /* Kembali ke posisi semula */
    }
}
.item1 {
    z-index: 1;
    position: absolute;
    left: 10.9%;
    top: 26%;
    animation: float 3s ease-in-out infinite;
    animation-delay: 0s;
}


.item2 {
    z-index: 1;
    position: absolute;
    right: 10%;
    bottom: 18px;
    animation: float 3s ease-in-out infinite;
    animation-delay: 1s;
}
.item3 {
    z-index: 1;
    position: absolute;
    left: 13%;
    bottom: 13%;
    animation: float 3s ease-in-out infinite;
    animation-delay: 2s;
}

.svg1{
    justify-content: center;
}
.text-blue1{
    color: #00AAFF;
}

.container-content {
    margin-top: 100px;
    margin-bottom: 30px;

}
.content1 {
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: left;
    padding-inline: 5.9%;
}
.item {
    padding: 10px;
    margin-bottom: 26px;
    background-color: #fff;
    display: flex;
    align-items: center;
    width: 250px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    opacity: 1;
    transform: scale(1);
    transition: opacity 0.3s ease, transform 0.3s ease;
}

.item.hidden {
    opacity: 0;
    transform: scale(0.8);
    pointer-events: none;
}

.item.floating {
    animation: floatingEffect 1s ease-in-out;
}

.content-item{
    display: flex;
}

@keyframes floatingEffect {
    0% {
        transform: translateY(10px);
        opacity: 0;
    }
    50% {
        transform: translateY(-10px);
        opacity: 1;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

 .item:hover {
    transform: scale(1.05);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
}

.item svg {
    width: 46px;
    height: 45px;
    margin-right: 10px;
}

.item p {
    text-align: center;
    margin: 0;
    font-size: 14px;
}

.hidden {
    display: none;
}

.item.hidden {
    opacity: 0;
    transform: scale(0.9);
}


.item:nth-child(1) {
    margin-left: 30px;
    color: #5856D6;
    font-weight: 600;
}

.item:nth-child(2) {
    margin-left: 30px;
    color: #5856D6;
    font-weight: 600;
}

.item:nth-child(3) {
    margin-left: 30px;
    color: #00C7BE;
    font-weight: 600;
}

.item:nth-child(4) {
    margin-left: 30px;
    color: #32ADE6;
    font-weight: 600;
}

.item:nth-child(5) {
    margin-left: 30px;
    color: #FF2D55;
    font-weight: 600;
}

.item:nth-child(6) {
    margin-left: 30px;
    color: #FFCC00;
    font-weight: 600;
}

.item:nth-child(7) {
    margin-left: 30px;
    color: #30B0C7;
    font-weight: 600;
}

.item:nth-child(8) {
    margin-left: 30px;
    color: #FF3B30;
    font-weight: 600;
}
.item:nth-child(9) {
    margin-left: 30px;
    color: rgb(52, 199, 89);
    font-weight: 600;
}
.item:nth-child(10) {
    margin-left: 30px;
    color: rgb(255, 204, 0);
    font-weight: 600;
}
.item:nth-child(11) {
    margin-left: 30px;
    color: rgb(48, 176, 199);
    font-weight: 600;
}
.item:nth-child(12) {
    margin-left: 30px;
    color: rgb(255, 59, 48);
    font-weight: 600;
}

.item:nth-child(13) {
    margin-left: 30px;
    color: rgb(52, 199, 89);
    font-weight: 600;
}

.item:nth-child(14) {
    margin-left: 30px;
    color: rgb(255, 204, 0);
    font-weight: 600;
}

.item:nth-child(15) {
    margin-left: 30px;
    color: rgb(48, 176, 199);
    font-weight: 600;
}

.item:nth-child(16) {
    margin-left: 30px;
    color: rgb(255, 59, 48);
    font-weight: 600;
}

.item:nth-child(17) {
    margin-left: 30px;
    color: rgb(52, 199, 89);
    font-weight: 600;
}
.item:nth-child(n+5) {
    margin-left: 30px;
    font-weight: 600;
}


.load-more-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    padding: 0;
    margin: 20px auto;
    background-color: #ffffff;
    color: #3498db;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    text-align: center;
    font-size: 16px;
    position: relative;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.load-more-btn:hover {
    transform: scale(1.1);
}
.load-more-btn::after {
    content: '';
    position: absolute;
    width: 22px;
    height: 13px;
    background: url('data:image/svg+xml,%3Csvg%20width%3D%2222%22%20height%3D%2213%22%20viewBox%3D%220%200%2022%2013%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20fill-rule%3D%22evenodd%22%20clip-rule%3D%22evenodd%22%20d%3D%22M21.4613%200.548431C21.2905%200.37556%2021.0877%200.238431%2020.8646%200.144874C20.6414%200.051317%2020.4022%200.00316497%2020.1607%200.00316496C19.6729%200.00316494%2019.205%200.199303%2018.8601%200.548431L11.0016%208.52094L3.14304%200.54843C2.97275%200.374651%202.77015%200.236719%202.54692%200.142591C2.3237%200.0484617%202.08427%20-8.70544e-07%201.84245%20-8.81115e-07C1.60062%20-8.91685e-07%201.36119%200.0484617%201.13797%200.14259C0.914743%200.236719%200.712143%200.374651%200.541851%200.54843C0.370157%200.72079%200.233877%200.925852%200.140879%201.15179C0.0478801%201.37772%20-7.08152e-08%201.62006%20-8.1514e-08%201.86482C-9.22127e-08%202.10958%200.0478801%202.35192%200.140879%202.57785C0.233877%202.80379%200.370157%203.00885%200.541851%203.18121L9.70097%2012.4516C9.87126%2012.6253%2010.0739%2012.7633%2010.2971%2012.8574C10.5203%2012.9515%2010.7597%2013%2011.0016%2013C11.2434%2013%2011.4828%2012.9515%2011.706%2012.8574C11.9293%2012.7633%2012.1319%2012.6253%2012.3022%2012.4516L21.4613%203.18121C21.6321%203.00834%2021.7676%202.80312%2021.86%202.57725C21.9524%202.35138%2022%202.1093%2022%201.86482C22%201.37108%2021.8062%200.89756%2021.4613%200.548431Z%22%20fill%3D%22%2300AAFF%22%2F%3E%3C%2Fsvg%3E') no-repeat center center;
    background-size: contain;
    top: 50%;
    transform: translateY(-50%);
}

.load-more-btn.active::after {
    background: url('data:image/svg+xml,%3Csvg%20width%3D%2222%22%20height%3D%2213%22%20viewBox%3D%220%200%2022%2013%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20fill-rule%3D%22evenodd%22%20clip-rule%3D%22evenodd%22%20d%3D%22M0.538724%209.81879L9.69784%200.548432C9.86813%200.374653%2010.0707%200.236717%2010.294%200.142589C10.5172%200.0484601%2010.7566%20-8.25403e-07%2010.9984%20-8.22519e-07C11.2403%20-8.19636e-07%2011.4797%200.0484601%2011.7029%200.142589C11.9261%200.236717%2012.1287%200.374653%2012.299%200.548432L21.4581%209.81879C21.6298%209.99115%2021.7661%2010.1962%2021.8591%2010.4221C21.9521%2010.6481%2022%2010.8904%2022%2011.1352C22%2011.3799%2021.9521%2011.6223%2021.8591%2011.8482C21.7661%2012.0741%2021.6298%2012.2792%2021.4581%2012.4516C21.2879%2012.6253%2021.0853%2012.7633%2020.862%2012.8574C20.6388%2012.9515%2020.3994%2013%2020.1576%2013C19.9157%2013%2019.6763%2012.9515%2019.4531%2012.8574C19.2299%2012.7633%2019.0273%2012.6253%2018.857%2012.4516L10.9984%204.47906L3.13991%2012.4516C2.79497%2012.8007%202.32714%2012.9968%201.83932%2012.9968C1.59778%2012.9968%201.3586%2012.9487%201.13544%2012.8551C0.912286%2012.7616%200.709521%2012.6244%200.538724%2012.4516C0.193785%2012.1024%201.635e-08%2011.6289%202.22378e-08%2011.1352C2.51531e-08%2010.8907%200.047576%2010.6486%200.14001%2010.4228C0.232445%2010.1969%200.367928%209.99166%200.538724%209.81879Z%22%20fill%3D%22%2300AAFF%22%2F%3E%3C%2Fsvg%3E') no-repeat center center;
    background-size: contain;
}

.bg-guides{
    background: url(../images/Group38.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: center;
}


.card-guides-grid {
    display: grid;
    grid-template-columns: repeat(1, 3fr);
    gap: 18px;
    width: 100%;
    max-width: 96%;
}

.card-guides-item {
    text-align: left;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 11px;
    background-color: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding-bottom: 10px;
    transition: transform 0.3s ease;
}

.row-fitur1 {
    justify-content: center;
    align-items: center;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(21%, 1fr));
    gap: 1px;
  }

.line-benefit{
    background: url(../images/Vector10.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: center;

}


.svg-group {
    position: relative;
    z-index: 3;
    max-width: 80%;
    height: auto;
    left: 5pc;
    top: 8%;
}

.about p{
    font-size: 14px;
}

.my2{
    margin-block:40px;
}
.fitur-item-group {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}


@media (max-width: 990px) {
    .line-about{
        height:440px;
    }
    .card-about-grid{
        margin-top: 70px;
    }
    .svg-group{
        max-width: 65%;
        left: 55px;
    }
    .my2{
        margin-block:20px;
    }
    .fitur-item-group {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
    }
    .fitur-item{
        margin-top: 20px;
    }

}

@media (max-width: 768px) {
    .text-benefit h2{
        font-size: 31px;
    }
    .card-about-grid{
        display: grid;
        grid-template-columns:repeat(2,1fr);
        margin-top: 70px;
    }
    .line-about{
        height:550px;
    }
    .my2{
        margin-block:20px;
    }
    .fitur-item-group {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
    }
    .fitur-item{
        margin-top: 20px;
    }
}

@media (max-width: 480px) {
    .text-benefit h2{
        font-size: 26px;
    }
    .card-about-grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 15px;
        width: 93%;
        max-width: 100%;
        margin-top: 71px;
    }
    .line-about{
        height: 700px;
    }
    .my2{
        margin-block:20px;
    }
    .fitur-item-group {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 10px;
    }
    .fitur-item{
        margin-top: 10px;
    }
}


.bg-learn{
    background: url(../images/bgLearn.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: center;
}



.svg-container4 {
    position: absolute;
    top: 137rem;
    right: 0;
    width: auto;
    z-index: -3;
    overflow: hidden;
}

.svg-container4 svg {
    width: 1520px;
    height: auto;
}

