/* .page-enter {
    opacity: 0;
    transition: opacity 3000ms;
    -webkit-transition: opacity 3000ms;
    -moz-transition: opacity 300ms;
    -o-transition: opacity 3000ms;
}

.page-enter-active {
    opacity: 1;
}

.page-exit {
    position: absolute;
    opacity: 1;
    transition: opacity 300ms;
    -webkit-transition: opacity 300ms;
    -moz-transition: opacity 300ms;
    -o-transition: opacity 300ms;
    z-index: 1;
}

.page-exit-active {
    opacity: 0;
} */

.page-exit {
    display: none;
}
